*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background-color:antiquewhite;
}

div.topBar{
    height: 5vh;
    padding-top: 5px;;
}

img.GitHub{
    height: 18px;
    float: right;
    padding-right: 10px;
}

img.LinkedIn{
    height: 15px;
}

div.header{
    height: 50vh;
    width: 100vw;
    padding-top: 10vh;
    padding-left: 5vw;

}

h1{
    max-width: 8vh;
    color:brown;
    font-size: 100px;
    text-align: left;
    
}

h2.rotatingBar{
    height: 6vh;
    width: 100vw;
    background-color:brown;
    color:antiquewhite;
    padding-top: 1vh;
    text-align: center;
    
}

nav.navBar{
    height: 10vh;
    width: 100vw;
    align-self: center;
    padding-top: 10px;
    border-color: #1c401f;
    border-width: 2px;
    border-radius: 25px;
    text-align: center;
}

li {
    display: inline;
    padding: 2%;
}

a {
    font-size: 20px;
    color:#1c401f;
    text-decoration: none;;
}
