
* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
body {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    color: black;
    line-height: 1.6;
}

/* Header */

header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 23, 7);
    padding: 0 15px;
    margin: 0 auto;
}

.name {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name h1 {
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-size: 10vh;
    font-weight: 500;
    letter-spacing: 2vh;
}

.image-container {
    width: 100%;
    background-image: url("HeaderImage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 15px solid rgb(34, 23, 7); 
    border-top: 0px;
}

.card-container {
    margin: 0 auto;
    height: 40%;
    width: 420px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blanchedalmond;
    border: 3px solid white;
    margin: 10%;
}

.card-int{
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 5px solid  rgb(34, 23, 7);
}

.card-text {
    text-align: center;
    padding: 1rem;
}

.card-text h1 {
    font-size: 1.4rem;
    font-weight: 550;
    letter-spacing: .1rem;
    font-family: 'Playfair Display', serif;
    color: black;
    border-bottom: 1px solid black;
}

.card-text {
    padding: 1rem;
    display: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#major {
    font-size: .6rem;
    letter-spacing: .1rem;
    color: black;
    font-weight: 1000;
    padding: .2rem 0;
    border-bottom: 1px solid black;
}

#identities {
    font-size: .6rem;
    letter-spacing: .15rem;
    font-weight: 600;
    color: black;
}

.profile-image {
    height: 30vh;
    width: 15vw;
    min-width: 150px;;
    object-fit: cover;
    margin: 15px 0 5px 0;
    border: white 5px solid;
}

/* Navigation */
nav {
    background-color:#3e531b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 1rem;
    margin-bottom: 15px;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    transition: font-size 0.1s ease-in-out, font-weight 0.1s ease-in-out, padding 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

nav a:hover {
    background-color: rgb(237, 218, 170);
    color:rgb(73, 60, 50);
    background-position: right;
    font-size: 1.1rem;
    font-weight: extrabold;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    box-shadow: 0 0 10px rgba(237, 218, 170, 1);
}

/* Main Content */
main {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Sections */
section {
    margin-bottom: 3rem;
}

section h2 {
    margin-bottom: 1rem;
    color: #1f2933;
    border-bottom: 2px solid maroon;
    display: inline-block;
}

/* Skills */
.skill-title {
    color: #1f2933;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2.5rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}

.skills-list li {
    background: white;
    padding: 0.4rem;
    font-weight: bold;
    font-size: .8rem;
    text-align: center;
    border-radius: 5px;
    border: 2px solid maroon;
    color: #1f2933;
    list-style: none;
}

/* Projects */
.project {
    background: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 5px solid maroon;
}

.project h3 {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f2933;
    color: #fff;
}

.LinkedIn{
    width: 150px;
    height: 40px;
}

.GitHub{
    width: 40px;
    height: 40px;
}