*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: blanchedalmond;
    margin: 0;
}
div.header{
    height: 30vh;
    width: 100vw;
    background-image: url('clouds.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2.rotatingBar{
    height: 10vh;
    width: 100vw;
    background-color:brown;
}
nav.navBar{
    height: 10vh;
    width: 90vw;
    align-self: center;
    background-color:cadetblue;
    border-radius: 25px;
}
