body {
    background-color: blanchedalmond;
    margin: 0;
}
div.header{
    height: 30vh;
    width: 100vw;
    background-image: url('clouds.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h2.rotatingBar{
    height: 10vh;
    width: 100vw;
    background-color:brown;
}
nav.navBar{
    height: 10vh;
    width: 90vw;
    align-self: center;
    background-color:cadetblue;
    border-radius: 25px;
}
li{
    display: inline;
}
