
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    color: black;
    line-height: 1.6;
}

/* Header */
header {
    background-image: url("HeaderImage.heic");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 12rem 12rem;
}

.header-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header-text {
    text-align: left;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

header p {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    max-width: 500px;
}

.profile-image {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    border: 4px solid choclate;
}

/* Navigation */
nav {
    background-color:#3e531b;
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 1rem;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: goldenrod;;
}

/* Main Content */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Sections */
section {
    margin-bottom: 3rem;
}

section h2 {
    margin-bottom: 1rem;
    color: #1f2933;
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
}

/* Skills */
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}

.skills-list li {
    background: #e5e7eb;
    padding: 0.6rem;
    text-align: center;
    border-radius: 5px;
    list-style: none;
}

/* Projects */
.project {
    background: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.project h3 {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f2933;
    color: #fff;
}