
* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
body {
    width: 100%;
    border: 5px solid black;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    color: black;
    line-height: 1.6;
}

/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 23, 7);
    padding: 0 15px;
    margin: 0 auto;
}

.name {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name h1 {
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-size: 9vh;
    font-weight: 500;
    letter-spacing: 5px;
}

.image-container {
    width: 100%;
    background-image: url("HeaderImage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 15rem 0;
    border: 15px solid rgb(34, 23, 7);
}

.card-container {
    margin: 0 auto;
    width: 30vw;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blanchedalmond;
    border: 3px solid white;
}

.card-int{
    background-color: blanchedalmond;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 5px solid  rgb(34, 23, 7);
}

.card-text {
    text-align: center;
    padding: 1rem;
}

.card-text h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: black;
    border-bottom: 1px solid black;
}

.card-text p {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    max-width: 500px;
    border-bottom: 1px solid black;
}

.profile-image {
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

/* Navigation */
nav {
    background-color:#3e531b;
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 1rem;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: font-size 0.2s ease-in-out, font-weight 0.2s ease-in-out, padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

nav a:hover {
    background-color: rgb(237, 218, 170);
    color:rgb(73, 60, 50);
    background-position: right;
    font-size: 1.1rem;
    font-weight: extrabold;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    box-shadow: 0 0 10px rgba(237, 218, 170, 1);
}

/* Main Content */
main {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Sections */
section {
    margin-bottom: 3rem;
}

section h2 {
    margin-bottom: 1rem;
    color: #1f2933;
    border-bottom: 2px solid maroon;
    display: inline-block;
}

/* Skills */
.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.8rem;
    margin-top: 1rem;
}

.skills-list li {
    background: burlywood;
    padding: 0.6rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    color: #1f2933;
    list-style: none;
}

/* Projects */
.project {
    background: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 5px solid maroon;
}

.project h3 {
    margin-bottom: 0.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f2933;
    color: #fff;
}